{% extends "base.html" %}


{% block content %}
<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Conferma di risposta al tuo messaggio</p>
						<h2>Grazie per averci contattato</h2>
					</header>
				</div>
			</section>

<section id="two" class="wrapper style2">
    <div class="container py-5 text-center">
        <h1>Il messaggio che abbiamo ricevuto</h1>
       <h2>{{ message }}</h2>

        <div>

            <address>
                <strong>MP Electronic Systems</strong><br>
                Via Canaletto, 40/b/c<br>
                41030 S.Prospero (MO)<br>
                Tel: 059 809387
            </address>
        </div>
    </div>
</section>

{% endblock %}