{% load staticfiles %}
<section id="One" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                        <p>La protezione dell'azienda e dell'ufficio</p>
                        <h2>Allarmi tecnici</h2>
                    </header>
                </div>
            </section>
            <section id="two" class="wrapper style2">
                <div class="inner">
                    <div class="box text-dark">
                        <div class="content">

                            <div class="row py-5">
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Allarmi-tecnici-per-impianti-termici-modena-.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Sensori-di-segnalazione-per-impianti-industriali.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Installazione-interfoni-correggio.png' %}" width="300px" alt="" /></div>
                            </div>
                            <h3>Installazione di allarmi tecnici</h3>
<p>Esistono differenti tipologie di allarmi ambientali o <strong>allarmi tecnici</strong> installabili sia in abitazioni
    che in ambienti lavorativi. Tutti possono essere gestiti in domotica.</p>


                       <h3>Impianti industriali</h3>
<p>I dispositivi per la rilevazione di anomalie, come fughe di gas, blocco delle caldaie, diminuzioni dei livelli
    di serbatoi dovuti a perdite di sostanze, sono collegati ad una centralina di trasmissione dati, che consente di
    monitorare in modo costante il corretto svolgimento dei processi industriali, delle catene di produzione,
    della lavorazione e dello stoccaggio.</p>



                       <h3>Interfoni</h3>
<p>L&#8217;interfono rappresenta un dispositivo di trasmissione e ricezione voce ed allarmi;
    viene utilizzato in situazioni o luoghi in cui il semplice o combinato impedimento della suddivisione,
    del rumore ambientale o dell&#8217;eccessiva distanza, non permettono la naturale comunicazione vocale.</p>


<p>La nostra azienda Mp Electronic System si occupa dell’installazione e della manutenzione di sensori di segnalazione
    per impianti industriali, termici, antincendio e interfoni.<br />
<p>Contattaci per ricevere un preventivo gratuito inerente alla fornitura di <strong>allarmi tecnici</strong> per le tue <strong>macchine industriali</strong>.</p>


    <div class="mx-auto" style="width: 200px;"> <ul class="actions fit">
           <li> <a class="btn button special fit" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a></li></ul></div>
           <p class="align-center">per richiedere preventivi gratuiti e maggiori informazioni

            </p>
                        </div>
                    </div>
                </div>
            </section>