{% load staticfiles %}

    <div class="jumbotron bg-info">
        
        <h1 class="display-4 text-center" >Sistemi Antifurto</h1>
       
        
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
           
         
        <ul class="list-group">
        <ol class="list-group-item">La protezione della nostra casa rappresenta un argomento molto importante a cui pensare, soprattutto se viviamo in un edificio isolato o in un appartamento a piano terra, quindi più soggetto al rischio di furto.</ol>
        <ol class="list-group-item">Dopo aver provveduto a dotare la casa di sistemi di protezione passiva, è opportuno pensare a quegli impianti elettronici in grado di rilevare un potenziale pericolo e quindi, di annullarlo; parliamo dei sistemi d’allarme antintrusione.</ol>
        <ol class="list-group-item">Vuoi sapere quanto costa installare un impianto antifurto per il tuo appartamento?</ol>

        <ol class="list-group-item"> Lo vorresti abbastanza economico, ma di qualità e vorresti dei consigli sulla scelta?.</ol>
        </ul>
        </p>
        <p>
            <a class="btn btn-warning" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a>
           per richiedere preventivi gratuiti e maggiori informazioni »
                
            </p>
        </div>
        <div class="col-md-6">
           <img src="{% static 'images/_Antifurto-casa-modena-correggio-1.png' %}">
            
        </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        
<h2>Tipologie di allarme</h2>
<p>Tutti gli impianti d’allarme sono composti da 3 elementi fondamentali:</p>
<ul>
<li><strong>La centrale</strong>: completa di accumulatore e batteria che ne permettono il funzionamento anche in assenza di energia elettrica;</li>
<li><strong>I rivelatori</strong></li>
<li><strong>I dispositivi d’allarme</strong>: che possono essere locali, come le sirene, o remoti, combinatori telefonici che consentono il collegamento con istituti di vigilanza e forze dell’ordine</li>
</ul>
<p>I sistemi d’allarme, a seconda del fatto che difendano la casa dall’esterno o dall’interno, si suddividono in <strong>perimetrali interni ed esterni e volumetrici</strong>; entrambi possono essere <strong>sistemi cablati e, su richiesta, anche wireless.</strong></p>
<p>L’impianto d’allarme <strong>cablato</strong> ha come vantaggio principale quello di essere <strong>estremamente sicuro, sia per la tecnologia utilizzata, sia</strong>&nbsp;per le apparecchiature collegate da fili o cavi elettrici che rendono il collegamento protetto contro qualsiasi tentativo di sabotaggio da parte del malintenzionato.</p>
<p>Gli impianti d’allarme <strong>senza fili</strong> invece, sono<strong> composti da elementi non collegati da cavi</strong>, ma solo via etere, attraverso onde elettromagnetiche.</p>
<p>Ogni dispositivo è alimentato da proprie batterie a lunga durata le quali consentono al sistema di<strong> funzionare anche in assenza di corrente.</strong></p>
<p>La sua installazione <strong>non necessita di interventi murari</strong> e quindi è possibile risparmiare sui costi della manodopera.</p>
</div>
      
  </div>
   



