{% load staticfiles %}

   <section id="One" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                        <p>La protezione della casa e dell'ufficio</p>
                        <h2>Sistemi antifurto</h2>
                    </header>
                </div>
            </section>
            <section id="two" class="wrapper style2">
                <div class="inner">
                    <div class="box text-dark">
                        <div class="content">
                           
                            <div class="row">
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded" src="{% static 'images/_Impianto-antifurto-economico-correggio-1.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded" src="{% static 'images/_Impianto-antifurto-per-appartamento-modena-1.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded" src="{% static 'images/_Protezione-notturna-1.png' %}" width="300px" alt="" /></div>
                            </div>
                            <p>La protezione della nostra casa rappresenta un argomento molto importante a cui pensare, soprattutto se viviamo in un edificio isolato o in un appartamento a piano terra, quindi più soggetto al rischio di furto.</p>
     <p>Dopo aver provveduto a dotare la casa di sistemi di protezione passiva, è opportuno pensare a quegli impianti elettronici in grado di rilevare un potenziale pericolo e quindi, di annullarlo; parliamo dei sistemi d’allarme antintrusione.</p>
      <p>Vuoi sapere quanto costa installare un impianto antifurto per il tuo appartamento?</p>

       <p>Lo vorresti abbastanza economico, ma di qualità e vorresti dei consigli sulla scelta?</p>
      
<header class="align-center">
                               
                                <h2>Tipologie di allarme</h2>
                            </header>
                          
<p>Tutti gli impianti d’allarme sono composti da 3 elementi fondamentali:
<ul>
<li><strong>La centrale</strong>: completa di accumulatore e batteria che ne permettono il funzionamento anche in assenza di energia elettrica;</li>
<li><strong>I rivelatori</strong></li>
<li><strong>I dispositivi d’allarme</strong>: che possono essere locali, come le sirene, o remoti, combinatori telefonici che consentono il collegamento con istituti di vigilanza e forze dell’ordine</li>
</ul>
I sistemi d’allarme, a seconda del fatto che difendano la casa dall’esterno o dall’interno, si suddividono in <strong>perimetrali interni ed esterni e volumetrici</strong>; entrambi possono essere <strong>sistemi cablati e, su richiesta, anche wireless.</strong></p>
<p>L’impianto d’allarme <strong>cablato</strong> ha come vantaggio principale quello di essere <strong>estremamente sicuro, sia per la tecnologia utilizzata, sia</strong> per le apparecchiature collegate da fili o cavi elettrici che rendono il collegamento protetto contro qualsiasi tentativo di sabotaggio da parte del malintenzionato.</p>
<p>Gli impianti d’allarme <strong>senza fili</strong> invece, sono<strong> composti da elementi non collegati da cavi</strong>, ma solo via etere, attraverso onde elettromagnetiche.</p>
<p>Ogni dispositivo è alimentato da proprie batterie a lunga durata le quali consentono al sistema di<strong> funzionare anche in assenza di corrente.</strong></p>
<p>La sua installazione <strong>non necessita di interventi murari</strong> e quindi è possibile risparmiare sui costi della manodopera.</p>
                            <div class="mx-auto" style="width: 200px;"> <ul class="actions fit">
           <li> <a class="btn button special fit" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a></li></ul></div>
           <p class="align-center">per richiedere preventivi gratuiti e maggiori informazioni
                
            </p>
                        </div>
                    </div>
                </div>
            </section>
    
   



