{% load staticfiles %}

      <section id="One" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                        <p>La protezione della casa e dell'ufficio</p>
                        <h2>Rilevazione incendi e fughe di gas</h2>
                    </header>
                </div>
            </section>

    <div class="container">
    <div class="row 200%">
                    <div class="col-md-6 py-5">
                      <ul class="list-group">
                    <ol class="list-group-item lead">Installiamo il tuo impianto antincendio!</ol>
                    <ol class="list-group-item">Durante un incendio, <strong>più un luogo risulta affollato di persone e maggiore ne è la sua pericolosità</strong>; infatti, in questi casi, oltre alla minaccia legata alla presenza di fiamme e conseguenti alte temperature, l’esistenza di fumo rende difficoltosa la fuga e può <strong>generare</strong> <strong>intossicazione nei presenti</strong>.</ol>
                    <ol class="list-group-item">Proprio per questo motivo, la legislazione nazionale prevede che venga svolta un’<strong>attenta valutazione del rischio di incendio </strong>ed in base a questa vengano messe in atto opportune misure per ridurne la probabilità di innesco.<br />
            I <strong>sensori</strong> <strong>di</strong> <strong>segnalazione</strong> <strong>incendi</strong>, rappresentano la misura preventiva principale e più importante.</ol>

                    <ol class="list-group-item"> Lo vorresti abbastanza economico, ma di qualità e vorresti dei consigli sulla scelta?.</ol>
                    </ul>
                    </p>
                    <p class="align-center"> Per richiedere preventivi gratuiti e maggiori informazioni <br />
                        <a class="btn button special " href="{% url 'page' 'contatti' %}" role="button">Contattaci</a>


                        </p>
                    </div>
                    <div class="col-md-6 py-5">
                       <img src="{% static 'images/_Impianto-antincendio-modena-correggio.png' %}" height="90%">

                    </div>
  </div>
  <div class="row 200%">
    <div class="col-sm-12">

        <h2>Suddivisione in zone</h2>
        <p>Gli impianti di rilevazione incendi possono essere di <strong>tipo automatico</strong>, quando l’incendio è rilevato e segnalato direttamente dall’impianto, oppure <strong>di tipo manuale</strong>, se l’incendio è rilevato dalle persone che lo segnalano mediante l’azionamento di appositi pulsanti.</p>
        <p>Nella maggior parte dei casi, la decisione di installare un impianto di rivelazione incendi <strong>spetta al proprietario della struttura o al datore di lavoro</strong>, sulla base della valutazione del rischio di incendio.</p>
        <p>Tuttavia, <strong>esistono alcune disposizioni di prevenzione incendi e/o sicurezza sul lavoro</strong>, che ne richiedono espressamente l’installazione per alcune attività.</p>
        <p>Per localizzare rapidamente il focolaio, <strong>è necessaria la suddivisione in zone dell’area sorvegliata </strong>e varie normative ne stabiliscono regole principali.</p>
        <p>Con i moderni impianti ad indirizzamento individuale, ciascun rilevatore è <strong>univocamente riconosciuto dalla centrale</strong> risolvendo efficacemente il problema della suddivisione in zone.</p>

            </div>
</div>

      <div class="row 200%">

             <div class="col-md-6">

                    <ul class="list-group">
                    <ol class="list-group-item lead">Installazione rilevatori fughe di gas</ol>
                    <ol class="list-group-item">Il rilevatore di gas è un dispositivo elettronico che viene utilizzato per verificare la presenza di gas nocivi alla salute degli essere viventi all’interno delle nostre abitazioni.
            </ol>
                    <ol class="list-group-item">Il loro funzionamento è basato su leggi della fisica e quindi non è semplice da spiegare, ma essi rilevano la presenza di particelle grazie alla ionizzazione prodotta dal passaggio di un fotone o di una particella carica in un gas.</ol>


                    <ol class="list-group-item">Sono disponibili rilevatori sia fissi sia portatili.</ol>


                    <ol class="list-group-item">Vuoi procedere con l’installazione di rilevatori di fughe di gas nel tuo appartamento o nel tuo ufficio?</ol>
                     <ol class="list-group-item"> Lo vorresti abbastanza economico, ma di qualità e vorresti dei consigli sulla scelta?.</ol>

                    </ul>
                    </p>

                    <p class="align-center"> Per richiedere preventivi gratuiti e maggiori informazioni <br />
                        <a class="btn button special " href="{% url 'page' 'contatti' %}" role="button">Contattaci</a>


                        </p>
                    </div>
                      <div class="col-md-6">
                       <img src="{% static 'images/_Rilevatori-di-fughe-di-gas-modena-san-giovanni-in-persiceto.png' %}">

                    </div>
  </div>

  </div>



