{% load staticfiles %}

<section id="One" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                        <p>La protezione della casa e dell'ufficio</p>
                        <h2>Chi siamo</h2>
                    </header>
                </div>
            </section>
             <section id="two" class="wrapper style2">
                <div class="inner">
                    <div class="box text-dark">
                        <div class="content">
                        	<header class="align-center">
                               
                                <h2>MP Electronics Systems</h2>
                            </header>
                            <p>Nati nel 1995 siamo a San Prospero, in provincia di Modena. Installiamo e forniamo assistenza su allarmi di qualsiasi tipo, sistemi antirapina, antintrusione, telesoccorso e su impianti di videosorveglianza.</p>

<p>Ci occupiamo della realizzazione di impianti di condizionamento domestici e aziendali.

Inoltre, siamo attivi nel settore della domotica e delle automazioni in genere.</p>

<p>Necessiti di un tecnico elettronico per i tuoi sistemi antirapina?

Cerchi un’azienda che si occupi dell’installazione di allarmi?

Devi far riparare il tuo cancello automatico ma non conosci nessun tecnico elettronico?</p>

<p>Da anni attivi in questi settori, per soddisfare a pieno le tue esigenze, ci avvaliamo della collaborazione di tecnici installatori in grado di offrire un servizio qualificato e sempre mirato al benessere dei nostri clienti.</p>
 <div class="mx-auto" style="width: 200px;"> <ul class="actions fit">
           <li> <a class="btn button special fit" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a></li></ul></div>

<p class="align-center">Ci trovi a San Prospero, in provincia di Modena e operiamo in tutta la provincia modenese, reggiana, bolognese.</p>
                        </div>
                    </div>
                </div>