{% load staticfiles %}
<section id="One" class="wrapper style3">
                <div class="inner">
                    <header class="align-center">
                        <p>La protezione della casa e dell'ufficio</p>
                        <h2>Climatizzazione</h2>
                    </header>
                </div>
            </section>
            <section id="two" class="wrapper style2">
                <div class="inner">
                    <div class="box text-dark">
                        <div class="content">

                            <div class="row py-5">
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Unita-interna.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Design-elegante.png' %}" width="300px" alt="" /></div>
                                <div class="col-md-4"><img class="img-thumbnail img-fluid border border-dark rounded"
                                                           src="{% static 'images/_Barriere-d-aria-correggio-san-giovanni-in-persiceto.png' %}" width="300px" alt="" /></div>
                            </div>
                            <h3>Impianto di condizionamento domestico</h3>
<p>Un impianto di condizionamento ha come obbiettivo quello di mantenere confortevoleil clima di qualsiasi ambiente.<br />
Il comfort a cui siamo abituati si determina tramite la combinazione di 3 fattori: temperatura, umidità e distribuzione dell&#8217;aria.<br />
Per questo motivo il climatizzatore controlla:<br />
<ul>
<li><strong>la temperatura della stanza</strong></li>
<li><strong>l&#8217;umidità dell'ambiente</strong></li>
<li><strong>l&#8217;ottimizzazione della portata d&#8217;aria</strong></li>
<li><strong>la pulizia dell&#8217;aria</strong></li>
</ul>
<p>Vuoi sapere <strong>quanto costa installare un condizionatore</strong>?</p>
<p>Rivolgiti alla nostra azienda! Attiva nelle province di Modena, Reggio Emilia, Bologna e Crevalcore, provvederà alla fornitura <strong>dell’impianto di condizionamento per la tua casa singola o appartamento.</strong></p>
<p>Vuoi realizzare un <strong>impianto centralizzato</strong> per il tuo condominio?</p>
<p>Contattaci per ricevere <strong>prezzi</strong> dettagliati; operiamo nelle province di <strong>Modena</strong>, Reggio Emilia, Bologna e <strong>Crevalcore</strong>.</p>


                         <h3>Climatizzazione di uffici</h3>
<p>Stai cercando un’azienda che si occupi della progettazione di impianti di climatizzazione per uffici?<br />
<p>Se anche tu vuoi provvedere alla climatizzazione dei tuoi uffici, contattaci per ricevere maggiori indicazioni in merito a prezzi e tipologie di impianto.</p>



                        <h3>Montaggio di barriere d’aria</h3>
<p>Le barriere d’aria assicurano sia l&#8217;isolamento della temperatura in modo efficace, sia la protezione dei tuoi locali da elementi sgradevoli provenienti dall&#8217;esterno.</p>
<p>Esse possono essere applicate in ristoranti, pub, centri commerciali, supermercati, negozi e fabbricati industriali.</p>



    <div class="mx-auto" style="width: 200px;"> <ul class="actions fit">
           <li> <a class="btn button special fit" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a></li></ul></div>
           <p class="align-center">per richiedere preventivi gratuiti e maggiori informazioni

            </p>
                        </div>
                    </div>
                </div>
            </section>