{% load staticfiles %}

    <div class="jumbotron bg-info">
        
        <h1 class="display-4 text-center" >Rilevatori fughe di gas</h1>
       
        
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
  
         
        <ul class="list-group">
        <ol class="list-group-item lead">Installazione rilevatori fughe di gas</ol>
        <ol class="list-group-item">Il rilevatore di gas è un dispositivo elettronico che viene <strong>utilizzato per verificare la presenza di gas nocivi</strong> alla salute degli essere viventi all’interno delle nostre abitazioni. <br/>
        Rilevano la presenza di particelle nocive grazie alla ionizzazione prodotta dal passaggio di un fotone o di una particella carica in un gas.</ol>
        <ol class="list-group-item">Si distinguono in <strong>fissi</strong> e <strong>portatili</strong>. Vieni a scegliere, tra i <strong>rilevatori di fughe di gas</strong> da noi in vendita, quello più adatto alle tue necessità.</ol>

        <ol class="list-group-item"> Lo vorresti abbastanza economico, ma di qualità e vorresti dei consigli sulla scelta?.</ol>
        </ul>
        </p>
        <p>
            <a class="btn btn-warning" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a>
           per richiedere preventivi gratuiti e maggiori informazioni »
                
            </p>
        </div>
        <div class="col-md-6">
           <img src="{% static 'images/_Rilevatori-di-fughe-di-gas-modena-san-giovanni-in-persiceto.png' %}">
            
        </div>
  </div>
  <div class="row">
    <div class="col-sm-12 py-3">
        

        

        
<h2>Rilevatori fissi e portatili</h2>
<p>I <strong>rilevatori fissi</strong> si distinguono in:</p>
<ul>
<li><strong>Dispositivi per misurazioni in interno</strong>: come quelli che vengono installati nelle case o nelle camere degli alberghi.</li>
<li><strong>Dispositivi per misurazioni in esterno</strong>: come gli apparecchi si installano in alcune aree delle città per rilevare le concentrazioni di CO<sub class="small">2</sub>, di polveri sottili e per stilare una classifica della qualità dell’aria.</li>
</ul>
<p>I rilevatori di gas <strong>portatili</strong> invece, si distinguono in:</p>
<ul>
<li><strong>Professionali</strong>: impiegati per rilevare la presenza di esalazioni nocive per l’uomo dopo esplosioni, durante la costruzione di tunnel e gallerie. Solitamente sono rilevatori multigas per la misurazione simultanea e automatica di possibili sostanze dannose per il personale che deve lavorare in quel luogo.</li>
<li><strong>Per uso domestico</strong>: per nulla inferiori ai primi in termini di qualità, sono rilevatori monogas per ossigeno, biossido di zolfo, anidride carbonica e gas metano. Piccoli, maneggevoli e alimentati a batterie, spesso non richiedono manutenzione come i rilevatori fissi, ma hanno una durata limitata nel tempo (da 100 giorni a 24 mesi).</li>
</ul>

      

      
</div>
      
  </div>
   



