{% load staticfiles %}

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{% static 'images/antincendio.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>Progettazione e realizzazione di sistemi antincendio, rilevazione fumo e fughe di gas
								 </p>
							<h2><a href="{% url 'page' 'antincendio' %}">Antincendio</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/videosorveglianza.jpg' %}" alt="" />
					<div class="inner">
						<header>
							<p>Telecamere, sistemi di controllo e sorveglianza</p>
							<h2><a href="{% url 'page' 'videosorveglianza' %}">Videosorveglianza</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/antifurto_tunnel.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>Progettare e realizzare un sistema a prova di intrusione</p>
							<h2><a href="{% url 'page' 'antifurto' %}">Antifurto</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/climatizzazione.jpeg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>Un clima confortevole in ogni ambiente al lavoro come a casa</p>
							<h2><a href="{% url 'page' 'climatizzazione' %}">Climatizzazione</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/automazioni2.jpg' %}"  alt="" />
					<div class="inner">
						<header>
							<p>La tecnologia che rende la nostra abitazione intelligente</p>
							<h2><a href="{% url 'page' 'automazioni' %}">Automazioni</a></h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{% static 'images/_Allarmi-per-macchine-industriali-correggio.png' %}"  alt="" />
					<div class="inner">
						<header>
							<p>Dispositivi per la rilevazione di anomalie in macchine ed apparecchiature industriali </p>
							<h2><a href="{% url 'page' 'allarmi_tecnici' %}">Allarmi tecnici</a></h2>
						</header>
					</div>
				</article>

			</section>

		<!-- One -->
<div class="jumbotron p-3 p-md-5 text-black rounded bg-warning text-center">
	<h2 class="h1">Impianti antifurto, antirapina, antincendio, videosorveglianza, automazione, domotica e climatizzazione</h2>
</div>
 <main role="main">

 <section class="jumbotron">
        <div class="container py-0">
            <div class="row">
                <div class="col-md-6">

          <p class="lead text-muted">
             La nostra azienda, attiva tra le province di <b>Modena</b>, Bologna e Reggio Emilia, vanta un esperienza consolidata nel settore degli impianti antifurto, antirapina, antincendio, videosorveglianza, automazione, domotica e climatizzazione.
Forniamo sia un servizio di <b>installazione</b> che di <b>assistenza</b> su tutti gli <b>impianti</b> da noi realizzati.
Vuoi dotare la tua casa di <b>antifurto</b>? Necessiti di un allarme <b>antincendio</b> per la tua azienda?
Ci occupiamo anche della fornitura di <b>allarmi tecnici</b>! Siti a San Prospero, operiamo in tutta la provincia di
              <b>Modena</b>, Bologna, Reggio Emilia e bassa reggiana come <b>Correggio</b><, fornendo un’<b>assistenza 24 ore su 24.</b>
              </p>
          <div class="mx-auto" style="width: 200px;"> <ul class="actions fit">
           <li> <a class="button icon fa-check" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a></li></ul></div>

                </div>
                 <div class="col-md-6">
                      <img class="card-img-top" src="{% static 'images/_Impianti-antifurto-e-antincendio-modena-correggio.png' %}" alt="Card image cap">
                </div>
        </div>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{% static 'images/_Impianti-antifurto-modena.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Antifurto</h2>
                  <p class="card-text text-center">Sistemi d'allarme Antirapina e di Telesoccorso.</p>
                  <div class="text-center">
                    <a href="{% url 'page' 'antifurto' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm"><!-- 'images/_antincendio-mobile2.jpg' -->
                <img class="card-img-top" src="{% static 'images/_Impianti-antincendio.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Antincendio</h2>
                  <p class="card-text text-center">Installazione di rilevatori di incendi, di fughe di gas,
                      di evacuatori di calore e di fumi</p>
                  <div class="text-center">
                    <a href="{% url 'page' 'antincendio' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm"> <!-- 'images/telecamera_WA0006.jpg'-->
                <img class="card-img-top" src="{% static 'images/_Impianti-di-videosorveglianza-modena.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Videosorveglianza</h2>
                  <p class="card-text text-center">
                      Telecamere a circuito chiuso telegestibili e robotizzate.</p>
                  <div class="text-center">
                   <a href="{% url 'page' 'videosorveglianza' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm"> <!--{% url 'page' 'automazioni' %}-->
                <img class="card-img-top" src="{% static 'images/_Installazione-allarmi-tecnici-modena.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Allarmi tecnici</h2>
                  <p class="card-text text-center">
                      Installazione di allarmi tecnici per l'industria, in magazzini, in uffici e in abitazioni.
                      Tutti possono essere gestiti in domotica.</p>
                  <div class="text-center">
                   <a href="{% url 'page' 'allarmi_tecnici' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{% static 'images/_Automazioni-cancelli-correggio.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Cancelli e Domotica</h2>
                  <p class="card-text text-center">
                      Dissuasori di sosta, barriere automatiche per parcheggi, cancelli automatici.
                      Tutte le installazioni sono gestibili in domotica</p>
                  <div class="text-center">
                   <a href="{% url 'page' 'automazioni' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{% static 'images/_Impianti-di-climatizzazione-modena.png'%}" alt="Card image cap">
                <div class="card-body">
                    <h2 class="text-center">Climatizzazione</h2>
                  <p class="card-text text-center">
                      Impianti di climatizzazione per industria, magazzini, ampie superfici coperte, uffici e abitazioni private.
                  </p>
                  <div class="text-center">
                   <a href="{% url 'page' 'climatizzazione' %}" class="button alt">Leggi di più</a>
                  </div>
                </div>
              </div>
            </div>


        </div>
      </div>
      </div>
    </main>

			<!--<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/telecamera_WA0006.jpg' %}"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Sistemi d'allarme Antirapina Telesoccorso</p>
										<h2>Antifurto</h2>
									</header>
									<p> Sistemi di protezione passiva, è opportuno pensare a quegli impianti elettronici in grado di rilevare un potenziale pericolo e quindi, di annullarlo; parliamo dei sistemi d’allarme antintrusione. A un
										sistema di videosorveglianza, viene spesso associato un impianto di allarme
										in modo da consentire una sinergia fra la necessità di protezione,
										e di verifica di quanto segnalato dal sistema antifurto.</p>
									<footer class="align-center">
										<a href="{% url 'page' 'antifurto' %}" class="button alt">Leggi tutto</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{% static 'images/_antincendio-mobile2.jpg' %}"  alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Rilevazione incendio e fughe di gas</p>
										<h2>Antincendio</h2>
									</header>
									<p> Dotarsi di sensori di segnalazione incendi è una misura preventiva molto importante.
										Essi non sono altro che un insieme di apparecchiature in grado di rilevare e segnalare la
										presenza di un incendio all’interno di un edificio.
										Installiamo anche rilevatori di fughe di gas ed evacuatori di calore e fumi.</p>
									<footer class="align-center">
										<a href="{% url 'page' 'antincendio' %}" class="button alt">Leggi tutto</a>
									</footer>
								</div>
							</div>
						</div>



					</div>
				</div>
			</section>

		&lt;!&ndash; Two &ndash;&gt;
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Telecamere a circuito chiuso telegestibili e robotizzate</p>
						<h2>Videosorveglianaza</h2>
					</header>
					<footer class="align-center">
										<a href="{% url 'page' 'videosorveglianza' %}" class="button alt">Leggi tutto</a>
									</footer>
				</div>
			</section>

		&lt;!&ndash; Three &ndash;&gt;
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Cancelli, sbarre, portoni automatizzati</p>
						<h2>Cancelli e Domotica</h2>
					</header>
					<footer class="align-center">
										<a href="{% url 'page' 'automazioni' %}" class="button alt">Leggi tutto</a>
									</footer>
					<div class="gallery content">
						<div>

							<div class="image fit">
								<h2 class="align-center"><a href="{% url 'page' 'climatizzazione' %}">Climatizzazione</a></h2>
							</div>

						</div>
						<div>
							<div class="image fit style2">
								<h2 class="align-center"><a href="{% url 'page' 'allarmi_tecnici' %}">Allarmi tecnici</a></h2>
							</div>
						</div>

					</div>
				</div>
			</section>-->


	