{% load staticfiles %}

    <div class="jumbotron bg-info">
        
        <h1 class="display-4 text-center" >Antifurto, antincendio</h1>
        <h1 class="display-4 text-center">videosorveglianza e domotica</h1>
        
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
           
            <p>
        La nostra azienda, attiva tra le province di Modena, Bologna e Reggio Emilia, vanta un esperienza consolidata nel settore degli impianti antifurto, antirapina, antincendio, videosorveglianza, automazione, domotica e climatizzazione.
        Forniamo sia un servizio di <b>installazione</b> che di <b>assistenza</b> su tutti gli <b>impianti</b> da noi realizzati.</p>
        <ul class="list-group">
        <ol class="list-group-item">Vuoi dotare la tua casa di <b>antifurto</b>?</ol>
        <ol class="list-group-item">Necessiti di un allarme <b>antincendio</b> per la tua azienda?</ol>
        <ol class="list-group-item">Ci occupiamo anche della fornitura di <b>allarmi tecnici</b>!</ol>

        <ol class="list-group-item"> Forniamo <b>assistenza 24 ore su 24</b>.</ol>
        </ul>
        </p>
        <p>
            <a class="btn btn-warning" href="{% url 'page' 'contatti' %}" role="button">Contattaci</a>
           per richiedere preventivi gratuiti e maggiori informazioni »
                
            </p>
        </div>
        <div class="col-md-6">
           <img src="{% static 'images/_Impianti-antifurto-e-antincendio-modena-correggio.jpg' %}">
            
        </div>
    </div>
    <div class="row py-4">
            <div class="col-sm-4">
            <img src="{% static 'images/_Impianti-antifurto-modena.jpg' %}">
                <h2 class="py-2">Antifurto e antirapina</h2>
           
<p>La nostra azienda si occupa della fornitura e dell’installazione di 
sistemi di allarme per la protezione della tua casa, 
della tua azienda, del tuo negozio e di qualsiasi ambiente. 
Abbiamo <a href="#">antifurti</a> perimetrali, volumetrici, 
<a href="#">wireless</a> o cablati, <a href="#">nebbiogeni</a>,
 sistemi <a href="#">antitaccheggio</a> e <a href="#">antirapina</a>.
 Progettiamo, vendiamo, installiamo e forniamo assistenza su dispositivi di qualsiasi genere.</p>
                     <p> <a class="btn btn-info"
                        href="{% url 'page' 'antifurto' %}" role="button">
                        Leggi tutto »</a>
                    </p>
            </div>
            <div class="col-sm-4"> 
            <img src="{% static 'images/_Impianti-antincendio.png' %}">
            <h2 class="py-2">Antincendio</h2>
            <p>
            Dotandosi di sensori di segnalazione incendi, si assume una misura
             preventiva molto importante. Questi sensori non sono altro che
              un insieme di apparecchiature in grado di 
              <a href="#">rilevare e segnalare</a> la presenza di un incendio
               all’interno di un edificio.</p>
               <p>Installiamo anche <a href="#">rilevatori di fughe di gas</a>
                ed <a href="">evacuatori di calore e fumi</a>.</p>
                <p> <a class="btn btn-info"
                        href="{% url 'page' 'rilevazione_incendi' %}" role="button">
                        Leggi tutto »</a>
                    </p>
            </div>
            <div class="col-sm-4"> 
            <img src="{% static 'images/_Impianti-di-videosorveglianza-modena.png' %}">
            <h2 class="text-center">Videosorveglianza</h2>
            <p>
            Grazie all’impianto di videosorveglianza,
             è possibile controllare un luogo o un bene a distanza; 
             questo avviene tramite l’utilizzo di telecamere che assicurano
              la trasmissione di immagini. Solitamente accade che un sistema 
              di videosorveglianza viene associato ad un impianto di allarme
               antifurto, in modo da consentire una sinergia fra la necessità
                di protezione, di avviso e di verifica di quanto
                 segnalato dal sistema di antifurto.</p>
             <p> <a class="btn btn-info"
                        href="{% url 'page' 'videosorveglianza' %}" role="button">
                        Leggi tutto »</a>
                    </p>
            </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-4">
        <img src="{% static 'images/_Installazione-allarmi-tecnici-modena.png' %}">
             <h2 class="py-2">Allarmi tecnici</h2>
        <p>Gli allarmi ambientali o allarmi tecnici sono disponibili
         in diverse tipologie e sono applicabili sia in abitazioni
          che in ambienti lavorativi; essi possono anche essere gestiti 
          in domotica.</p>
          <p>Eseguiamo l’installazione e la manutenzione di sensori
           di segnalazione per impianti industriali, termici,
            antincendio e interfoni.</p>
             <p> <a class="btn btn-info"
                        href="{% url 'page' 'allarmi_tecnici' %}" role="button">
                        Leggi tutto »</a>
                    </p>
        </div>
        <div class="col-sm-4"> 
        <img src="{% static 'images/_Casa-domotica-correggio-1.png' %}">
        <h2 class="py-2">Domotica</h2>
        <p>La realizzazione di un impianto elettrico domotico, consente di gestire servizi ed apparecchiature presenti nelle nostre case, aumentando il livello di vivibilità e di comfort.</p>
       <p> <a class="btn btn-info"
                        href="{% url 'page' 'domotica' %}" role="button">
                        Leggi tutto »</a>
                    </p>
        </div>
        <div class="col-sm-4"> 
        <img src="{% static 'images/_Automazioni-cancelli-correggio.png' %}">
        <h2 class="py-2">Automazione cancelli</h2>
       <p>La nostra azienda si occupa dell’automazione di cancelli sia scorrevoli che a battente.</p>
       <p>Questa tecnologia non solo semplifica un compito di routine ma assicura una maggiore sicurezza.</p>
        <p> <a class="btn btn-info"
                        href="{% url 'page' 'domotica' %}" role="button">
                        Leggi tutto »</a>
                    </p>
       </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-4">
        <img src="{% static 'images/_Automazioni-in-genere-correggio.png' %}">
             <h2 class="py-2">Automazioni in genere</h2>
        <p>Installazione di automazioni per settori industriali, biomedicali, alberghieri, per macchine alimentari, tessili, e portoni.</p>
         <p> <a class="btn btn-info"
                        href="{% url 'page' 'automazioni' %}" role="button">
                        Leggi tutto »</a>
                    </p>
        </div>
        <div class="col-sm-4"> 
        <img src="{% static 'images/_Barriere-d-aria-correggio.png' %}">
        <h2 class="py-2">Barriere d'aria</h2>
       <p>La barriera d’aria assicura l’isolamento della temperatura in modo efficace, impedendo la fuoriuscita di aria fredda durante il raffreddamento e di aria calda in fase di riscaldamento.</p>
<p> <a class="btn btn-info"
                        href="{% url 'page' 'climatizzazione' %}" role="button">
                        Leggi tutto »</a>
                    </p>
       </div>
        <div class="col-sm-4"> 
        <img src="{% static 'images/_Impianti-di-climatizzazione-modena.png' %}">
        <h2 class="py-2">Climatizzazioni</h2>
        <p>Installazione di impianti di condizionamento <a href="http://mpelectronicsystem.it/prezzi-impianto-di-condizionamento-centralizzato-modena-crevalcore.html" target="_blank">domestici</a>, <a href="http://mpelectronicsystem.it/trattamento-aria-climatizzazione-uffici-modena-san-giovanni-persiceto.html" target="_blank">industriali</a>, per negozi ed uffici.</p>
        <p> <a class="btn btn-info"
                        href="{% url 'page' 'climatizzazione' %}" role="button">
                        Leggi tutto »</a>
                    </p>
        </div>
    </div>
</div>



